.login-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: -2;
    justify-content: center;
    align-items: center;
}

form img {
    margin-bottom: 10px;
    opacity: 0.8;
}

.login-container form {
    position: relative;
    width: 100%;
    max-width: 280px;
    display: flex;
    flex-direction: column;
}

.login-container form input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #999999;
    background-color: transparent;
    height: 40px;
    padding: 0 40px;
    font-size: 14px;
    color: #fff;
    font-weight: 50;
    text-align: center;
    opacity: 0.9;
}

.login-container form input:focus {
    border-bottom: 1px solid #ddd;
}

.login-container form input::placeholder {
    text-align: center;
    color: #fff;
    opacity: 0.7;
}

.login-container form button {
    margin-top: 30px;
    border: 0;
    border-radius: 3px;
    height: 40px;
    font-size: 16px;
    background: #ff7c00;
    color: white;
    cursor: pointer;
}

.login-container form button:hover {
    background: #ff8c00;
}

a {
    position: relative;
    cursor: pointer;
}

.forgot {
    color: #a69ba8;
    font-size: 12px;
    margin-top: 5px;
}

.forgot:hover {
    color: #ddd;
}

.signup {
    color: #857c87;
    font-size: 12px;
    margin-top: 10px;
}

.signup a {
    color: #a69ba8;
}

.signup a:hover {
    color: #ddd;
}

h1 {
    color: #fff;
    opacity: 0.7;
    text-align: center;
    font-size: 26px;
    margin-bottom: 50px;
}